<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" href="../css/forPanel.css" />
		<link rel="stylesheet" href="../css/dcalendar.picker.css"/>
		
		<style type="text/css">
			input{
				width: 150px;
			}
			iframe{
				
				height: 500px;
			}
		</style>
		
		
		<script type="application/javascript" src="../js/jquery-1.11.1.min.js"></script>
	
		<script language="JavaScript" src="../js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../js/dcalendar.picker.js"></script>
		
		<script type="text/javascript">
			$(function(){
				
				$('#mydatepicker2').dcalendarpicker({
					format:'yyyy-mm-dd'
				}); 
				$('#mydatepicker1').dcalendarpicker({
					format:'yyyy-mm-dd'
				}); 
				
				
				
			})
			
			
			
			function check(){
				var grade=parseFloat( $('#grade1').val());
				grade>=0&&grade<=100?$('#grade1').css({"border-color":"","border-style":"","border-size":""}):$('#grade1').css({"border-color":"red","border-style":"solid","border-size":"1px"});					
			};
			function check2(){
				var grade=parseFloat( $('#grade2').val());
				grade>=0&&grade<=100?$('#grade2').css({"border-color":"","border-style":"","border-size":""}):$('#grade2').css({"border-color":"red","border-style":"solid","border-size":"1px"});					
			};
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row clearfix">
				<div class="col-md-12 column">
					
					<div>
						<form action="">
							<label>起始时间：</label><input id='mydatepicker1' type='text'/>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<label>结束时间：</label><input id='mydatepicker2' type='text'/>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<label>成绩区间：</label><input id='grade1' class="grade" type='text' onchange="check();"/>~<input id='grade2' class="grade" type='text' onchange="check2();"/>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="submit" class="btn btn-sm btn-success">查询</button>
						</form>
					</div>
					
					
					<!--<table class="table table-hover">
						<thead>
							<tr>
								<th>
									学号
								</th>
								<th>
									试卷编号
								</th>
								<th>
									成绩
								</th>
								<th>
									时间
								</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Default
								</td>
								
							</tr>
							<tr>
								<td>
									1
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									01/04/2012
								</td>
								<td>
									Approved
								</td>
								
								
							</tr>
							<tr>
								<td>
									2
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									02/04/2012
								</td>
								<td>
									Declined
								</td>
								
							</tr>
							<tr>
								<td>
									3
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									03/04/2012
								</td>
								<td>
									Pending
								</td>
								
								
							</tr>
							<tr>
								<td>
									4
								</td>
								<td>
									TB - Monthly
								</td>
								<td>
									04/04/2012
								</td>
								<td>
									Call in to confirm
								</td>
								
							</tr>
						</tbody>
					</table>
					<div class="page_index">
					<ul class="pagination " >
						<li>
							 <a href="#"><<</a>
						</li>
						<li>
							 <a href="#">1</a>
						</li>
						<li>
							 <a href="#">2</a>
						</li>
						<li>
							 <a href="#">3</a>
						</li>
						<li>
							 <a href="#">4</a>
						</li>
						<li>
							 <a href="#">5</a>
						</li>
						<li>
							 <a href="#">>></a>
						</li>
					</ul>
					</div>
				</div>
			</div>
		</div>-->
		<iframe src="info.html" frameborder="0" class="col-md-12 column" ></iframe>
	</body>
</html>
