@media (min-width: 640px) {
	.form-group{
		padding-top: 30px;
}
	body {
	  padding-top: 40px;
	  padding-bottom: 40px;
	  background-color: #fff;
	}
	.form {
	  max-width: 700px;
	  margin: 0 auto;
	}
}
body{
	 background-color: #fff;
}
	