.sidebar{
	padding:0px;
}
li {
list-style-type:none;
}
.main
{
	margin:50px 0  0 180px;
	padding: 0;
	
}
.panel-group .panel {
     border-radius: 0px;
     border: 0px ; 
}
.panel-body ul{
	padding:10px;
	margin-bottom: 0px;
} 
.panel-body{
	padding:0px;
}
.panel-body ul li{
	padding:10px 10px;
}
.panel a:hover,a:link,a:visited{
	text-decoration: none;
}
