<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="../css/bootstrap.min.css" />
		
		<link rel="stylesheet" href="../css/addChangeCss.css"/>

		<script type="application/javascript" src="../js/jquery-1.11.1.min.js"></script>
	
		<script language="JavaScript" src="../js/bootstrap.min.js"></script>
	</head>
	<body>
		<form class="form" role="form">
			
			<div class="form-group">
				<label for="tch_name" class="col-sm-2 control-label">教工姓名</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="tch_name" 
						   placeholder="请输入姓名">
				</div>
			</div>
			
			<div class="form-group">
				<label for="tch_pwd" class="col-sm-2 control-label">密码</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="tch_pwd" >
				</div>
			</div>
			
			<div class="form-group">
			    <label class="col-sm-2">性别</label>
			    <div class="col-sm-10">
			      <div class="radio-inline">
			        <label>
			          <input type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
			         	男
			        </label>
			      </div>
			      <div class="radio-inline">
			        <label>
			          <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
			         	女
			        </label>
			      </div>
			      
			    </div>
			  </div>

			<div class="form-group">
				<label for="tch_phone" class="col-sm-2 control-label">联系电话</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="tch_phone" >
				</div>
			</div>
			
			<div class="form-group">
				<label for="tch_card" class="col-sm-2 control-label">身份证</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="tch_card" >
				</div>
			</div>
			
			<div class="form-group">
				<label for="tch_title" class="col-sm-2 control-label">教工职称</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="tch_title" 
						   placeholder="请输入职称">
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success btn-block">添加</button>
				</div>
			</div>
		</form>

	</body>
</html>
